{% extends 'base.html' %}

{% block body %}
<div class="page-content">
    <div class="header">
        <h3>Highlights</h3>
        <small><a href="/highlights/review">| Review | </a></small>
        <small><a href="/highlights/books">| Books | </a></small>
    </div>
    <div class="main-content">
        <div class="container">
            {% for highlight in highlights_list %}
                <div class="highlight-card">
                    <div class="header-card">
                        {{ highlight.book }}
                    </div>
                    {{ highlight.content }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
