
// Colors

$periwinkle_gray: #dfeaf8;
$chamois_yellow: #eee6b7;
$danube_blue: #5e8ccd;
$chigado_gray: #61605c;
$iron_gray: #d8dbdf;
$cod_gray_black: #0d0d0d;
$rock_blue_blue: #99afce;
$catskill_white_blue: #f1f5f8
